<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
</head>
  <body>
    <% @recipes.each do |recipe| %>
      <% recipe_link = "/recipes/#{recipe.id}" %>
      <p><a href="<%= recipe_link %>"><%= recipe.name %></a></p>
      <% end %>
  </body>
</html>