<form method="POST" action="/recipes">
    <p>Name: <input type="text" name="name"></p>
    <p>Ingredients: <input type="text" name="ingredients"></b>
    <p>Cook Time: <input type="text" name="cook_time"></b>
    <input type="submit" id="create_recipe" value="Crete Recipe">
</form> 